<f:for each="{collections}" as="collection">
	<section class="gallery">
		<div class="gallery-info">
			<h2>{collection.collection.title}</h2>
			<p>{collection.collection.description}</p>
		</div>

		<div class="row">
			<f:widget.paginate objects="{collection.images}" as="paginatedImages" configuration="{itemsPerPage: 4, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
				<f:for each="{paginatedImages}" as="image">
					<f:render section="imageItem" arguments="{image: image}" />
				</f:for>
			</f:widget.paginate>
		</div>

		<f:section name="imageItem">
			<div class="col-sm-6">
				<div class="gallery-item">
					<a rel="lightbox-gallery" href="{f:uri.image(image: image.file, width: '1920m')}" title="{image.file.description}">
						<f:image image="{image.file}" width="550m" alt="{image.file.description}" />
					</a>
				</div>
			</div>
		</f:section>
			
	</section>
</f:for>
